<html lang="en">

<head>
  <%- include('../../layout/head') %>
</head>
<div id="container">

  <body id="results">
  <%- include('../../layout/navbar') %>
  <h2> <span><%= data.length %></span> Search Results</h2>
  <div id="results-div">

    <% data.forEach(value => { %>
    <section>
      <img src="<%= value.thumbnail%>" alt="<%= value.title%>">
      <h3><%= value.title%></h3>
      <h4><%= value.author%></h4>
      <p id="book-description"><%= value.description%></p>
      <form action="/books" method="POST">
        <input id="details"type="submit" value="Add to Favorites">
        <input class="formData" type="text" name="title" value="<%= value.title%>">
        <input class="formData" type="text" name="author" value="<%= value.author%>">
        <input class="formData" type="text" name="description" value="<%= value.description%>">
        <input class="formData" type="text" name="thumbnail" value="<%= value.thumbnail%>">
        <input class="formData" type="text" name="isbn" value="<%= value.isbn%>">
        <input class="formData" type="text" name="bookshelf" value="<%= value.bookshelf%>">
        <!-- can also use "HIDDEN"
        <input class="formData" type="hidden" name="bookshelf" value="<%= value.bookshelf%>"> -->
      </form>
    </section>
    <%})%>
  </div>
  <%- include('../../layout/footer') %>
  </body>
</div>


</html>