<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>


<div id="container">

  <body id="results">
    <%- include('../layout/navbar') %>
    <div id="show-div">
      <form id="update-form" action="/update/?_method=PUT" method="POST">
        <input class="update" type="text" name="title" value="<%= data.title %>">
        <input class="update" type="text" name="author" value="<%= data.author %>">
        <input class="update" type="text" name="isbn" value="<%= data.isbn %>">
        <input class="update" type="text" name="thumbnail" value="<%= data.thumbnail %>">
        <input class="update" type="text" name="bookshelf" value="<%= data.bookshelf %>">
        <input class="update" type="textarea" name="description" value="<%= data.description %>">
        <input class="update" type="hidden" name="id" value="<%= data.id %>">
        <button id="update-button">Update</button>
      </form>
    </div>
    <%- include('../layout/footer') %>
  </body>
  
</div>

</html>