<html lang="en">

<head>
  <%- include('books/head') %>
</head>

<div id="container">

  <body id="index">
    <%- include('books/navbar') %>
    <h2> <span><%= data.length %></span> Search Results</h2>
    <p><a href="/newSearch">Search the Google Books API</a></p>
    <div id="index-div">
      <% data.forEach(value => { %>
      <section>
        <img src="<%= value.thumbnail%>" alt="<%= value.title%>">
        <h3><%= value.title%></h3>
        <h4><%= value.author%></h4>
        <p id="details"><a href="/books/<%= value.id %>">View Details</a></p>
      </section>
      <%})%>
    </div>
    <%- include('books/footer') %>
  </body>
</div>
</html>